/* ModalSlotAlreadyReserved Specific CSS */
@import '../components/globalModalStyles.css'; /* Ensure to import the global styles */

.modal-content p {
  color: #333;
  font-size: 18px;
  margin-bottom: 20px;
}

.timer {
  font-size: 28px;
  font-weight: bold;
  color: #ff5722;
  text-align: center;
  margin: 20px 0;
}

.modal-content .terms-conditions {
  list-style-type: none;
  padding: 0;
  margin: 15px 0;
  color: #666;
}

.modal-content .terms-conditions li {
  margin-bottom: 10px;
}